:root {
  --white-color: #fff;
  --black-color: #d5ddd4;
  --bg-color-primary: #698a74c7;
  --bg-color-secondary: #f1f8f1;
  --text-color: #e6e2e2;
  --border-color: #C5E1A5;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Estilos comunes */
body,
header,
aside,
footer,
.card,
section {
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
}

body {
  display: grid;
  gap: 10px;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color-primary);
  padding: 20px;
}

header,
footer {
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

aside,
.card,
section {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border-color);
}

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

footer {
  grid-area: footer;
  margin-top: 10px;
  font-size: 1rem;
}

.card,
section {
  padding: 20px;
  transition: transform 0.2s;
}

.card h3,
section h2 {
  color: var(--text-color);
}

section h2 {
  color: #388e3c;
  margin: 3rem 0 2rem 0;
}

section p {
  color: #4a4a4a;
  line-height: 1.6;
}

ul,
ol {
  margin: 2.5rem 2rem;
  padding: 0;
}

li {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.iframe-pdf {
  width: 90vw;
  height: 100vh;
  border: 1px solid var(--border-color);
}

.hidden {
  display: none;
}

.document-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.document-buttons button {
  padding: 10px 20px;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.document-buttons button:hover {
  background-color: var(--border-color);
  transform: scale(1.05);
}

.iframe-container {
  background-color: #fff;
  padding: 1rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-primary);
  width: 20vw;
  height: 15vh;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: var(--border-color);
  color: var(--bg-color-primary);
}

/* Estilos responsivos */
@media (min-width: 768px) {
  body {
    grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 3fr;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  body {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
  }
}