:root {
    --bg-color-primary: #4CAF50;
    /* Color principal (verde) */
    --bg-color-secundary: #dff0e4;
    /* Color secundario (gris claro) */
    --text-color: white;
    /* Color del texto */
    --border-color: #141313;
    /* Color del borde */
    --shadow-color: rgba(0, 0, 0, 0.301);
    /* Color de la sombra */
}

/* Estilos comunes */
body {
    display: grid;
    gap: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    grid-area: header;
    background-color: var(--bg-color-primary);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    width: 100%;
}

aside {
    grid-area: aside;
    background-color: var(--bg-color-secundary);
    padding: 10px;
}

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

footer {
    grid-area: footer;
    width: 100%;
    background-color: var(--bg-color-primary);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 -2px 5px var(--shadow-color);
    font-size: 1rem;
}

.card {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.card h3 {
    margin-top: 0;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    body {
        grid-template-areas:
            "header header header"
            "aside main main"
            "footer footer footer";
        grid-template-rows: 20vh auto 1fr;
        grid-template-columns: 1fr 3fr;
    }
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 1fr;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 350px) {
    body {
        grid-template-areas:
            "header"
            "aside"
            "main"
            "footer";
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 1fr;
    }
}